openapi: 3.0.1
info:
  title: Skyvia Public API — Account
  version: v1
  description: Account-level user and invitation management for the Skyvia account.
  x-apievangelist-source: https://api.skyvia.com/swagger/v1/swagger.json
servers:
- url: https://api.skyvia.com
  description: Skyvia public API
tags:
- name: Account
  description: Account-level user and invitation management for the Skyvia account.
paths:
  /v1/account/users:
    get:
      tags:
      - Account
      summary: Get account users
      parameters:
      - name: searchMask
        in: query
        description: search by user name
        schema:
          type: string
      - name: take
        in: query
        description: Items to take [1..200]
        schema:
          type: integer
          format: int32
          default: 20
      - name: skip
        in: query
        description: Items to skip [0...]
        schema:
          type: integer
          format: int32
          default: 0
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AccountUserDtoHasMorePagingDto'
            application/json:
              schema:
                $ref: '#/components/schemas/AccountUserDtoHasMorePagingDto'
            text/json:
              schema:
                $ref: '#/components/schemas/AccountUserDtoHasMorePagingDto'
    delete:
      tags:
      - Account
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/RemoveAccountUserRequestDto'
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveAccountUserRequestDto'
          text/json:
            schema:
              $ref: '#/components/schemas/RemoveAccountUserRequestDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/RemoveAccountUserRequestDto'
      responses:
        '200':
          description: OK
  /v1/account/invitations:
    get:
      tags:
      - Account
      summary: Get account invitations
      parameters:
      - name: take
        in: query
        description: Items to take [1..200]
        schema:
          type: integer
          format: int32
          default: 20
      - name: skip
        in: query
        description: Items to skip [0...]
        schema:
          type: integer
          format: int32
          default: 0
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AccountInvitedUserDtoHasMorePagingDto'
            application/json:
              schema:
                $ref: '#/components/schemas/AccountInvitedUserDtoHasMorePagingDto'
            text/json:
              schema:
                $ref: '#/components/schemas/AccountInvitedUserDtoHasMorePagingDto'
    post:
      tags:
      - Account
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/InviteUserRequestDto'
          application/json:
            schema:
              $ref: '#/components/schemas/InviteUserRequestDto'
          text/json:
            schema:
              $ref: '#/components/schemas/InviteUserRequestDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/InviteUserRequestDto'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/InvitedUserStatusDto'
            application/json:
              schema:
                $ref: '#/components/schemas/InvitedUserStatusDto'
            text/json:
              schema:
                $ref: '#/components/schemas/InvitedUserStatusDto'
  /v1/account/invitations/{invitationId}/resend:
    post:
      tags:
      - Account
      parameters:
      - name: invitationId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/InvitedUserStatusDto'
            application/json:
              schema:
                $ref: '#/components/schemas/InvitedUserStatusDto'
            text/json:
              schema:
                $ref: '#/components/schemas/InvitedUserStatusDto'
  /v1/account/invitations/{invitationId}:
    delete:
      tags:
      - Account
      parameters:
      - name: invitationId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
components:
  schemas:
    AccountInvitedUserDto:
      type: object
      properties:
        id:
          type: integer
          format: int32
        email:
          type: string
          nullable: true
        type:
          enum:
          - Administrator
          - Member
          type: string
        workspaces:
          type: array
          items:
            $ref: '#/components/schemas/AccountWorkspaceUserDto'
          nullable: true
        invitationDate:
          type: string
          format: date-time
        userId:
          type: integer
          format: int32
          nullable: true
        fullName:
          type: string
          nullable: true
      additionalProperties: false
    AccountInvitedUserDtoHasMorePagingDto:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/AccountInvitedUserDto'
          nullable: true
        hasMore:
          type: boolean
      additionalProperties: false
    AccountUserDto:
      type: object
      properties:
        id:
          type: integer
          format: int32
          nullable: true
        email:
          type: string
          nullable: true
        fullName:
          type: string
          nullable: true
        type:
          enum:
          - Administrator
          - Member
          type: string
        workspaces:
          type: array
          items:
            $ref: '#/components/schemas/AccountWorkspaceUserDto'
          nullable: true
      additionalProperties: false
    AccountUserDtoHasMorePagingDto:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/AccountUserDto'
          nullable: true
        hasMore:
          type: boolean
      additionalProperties: false
    AccountWorkspaceUserDto:
      type: object
      properties:
        workspaceId:
          type: integer
          format: int32
        roleName:
          type: string
          nullable: true
        roleId:
          type: integer
          format: int32
      additionalProperties: false
    InviteToWorkspaceDto:
      required:
      - roleId
      - workspaceId
      type: object
      properties:
        workspaceId:
          type: integer
          format: int32
          example: 123
        roleId:
          type: integer
          format: int32
          example: 3
      additionalProperties: false
    InviteUserRequestDto:
      required:
      - email
      - userType
      type: object
      properties:
        email:
          minLength: 1
          type: string
          example: johnDou@email.org
        userType:
          enum:
          - Administrator
          - Member
          type: string
          example: Member
        workspaces:
          type: array
          items:
            $ref: '#/components/schemas/InviteToWorkspaceDto'
          nullable: true
      additionalProperties: false
    InvitedUserStatusDto:
      type: object
      properties:
        email:
          type: string
          nullable: true
        status:
          type: string
          nullable: true
        invitationId:
          type: integer
          format: int32
      additionalProperties: false
    RemoveAccountUserRequestDto:
      type: object
      properties:
        email:
          type: string
          nullable: true
      additionalProperties: false
  securitySchemes:
    Access Token:
      type: apiKey
      description: Authorization header with the Skyvia access token.
      name: Authorization
      in: header
security:
- Access Token: []
