openapi: 3.0.1
info:
  title: Skyvia Public API — Agents
  version: v1
  description: Skyvia Agent registrations used to reach on-premise data sources, and connection testing for them.
  x-apievangelist-source: https://api.skyvia.com/swagger/v1/swagger.json
servers:
- url: https://api.skyvia.com
  description: Skyvia public API
tags:
- name: Agents
  description: Skyvia Agent registrations used to reach on-premise data sources, and connection testing for them.
paths:
  /v1/workspaces/{workspaceId}/agents:
    get:
      tags:
      - Agents
      summary: Get agents
      parameters:
      - name: workspaceId
        in: path
        description: ''
        required: true
        schema:
          type: integer
          format: int32
      - name: skip
        in: query
        description: Items to skip [0...]
        schema:
          type: integer
          format: int32
          default: 0
      - name: take
        in: query
        description: Items to take [1..200]
        schema:
          type: integer
          format: int32
          default: 20
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AgentDtoHasMorePagingDto'
            application/json:
              schema:
                $ref: '#/components/schemas/AgentDtoHasMorePagingDto'
            text/json:
              schema:
                $ref: '#/components/schemas/AgentDtoHasMorePagingDto'
  /v1/workspaces/{workspaceId}/agents/{agentId}:
    get:
      tags:
      - Agents
      parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: agentId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AgentDto'
            application/json:
              schema:
                $ref: '#/components/schemas/AgentDto'
            text/json:
              schema:
                $ref: '#/components/schemas/AgentDto'
  /v1/workspaces/{workspaceId}/agents/{agentId}/test:
    post:
      tags:
      - Agents
      parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: agentId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResult'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
components:
  schemas:
    AgentDto:
      type: object
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
          nullable: true
        key:
          type: string
          nullable: true
      additionalProperties: false
    AgentDtoHasMorePagingDto:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/AgentDto'
          nullable: true
        hasMore:
          type: boolean
      additionalProperties: false
    ApiResult:
      type: object
      properties:
        message:
          type: string
          nullable: true
        refresh:
          type: boolean
      additionalProperties: false
  securitySchemes:
    Access Token:
      type: apiKey
      description: Authorization header with the Skyvia access token.
      name: Authorization
      in: header
security:
- Access Token: []
