openapi: 3.0.1
info:
  title: Skyvia Public API — Automations
  version: v1
  description: 'Business-process automations: listing, execution history, run state, and enable/disable control.'
  x-apievangelist-source: https://api.skyvia.com/swagger/v1/swagger.json
servers:
- url: https://api.skyvia.com
  description: Skyvia public API
tags:
- name: Automations
  description: 'Business-process automations: listing, execution history, run state, and enable/disable control.'
paths:
  /v1/workspaces/{workspaceId}/automations:
    get:
      tags:
      - Automations
      summary: Get automations
      parameters:
      - name: workspaceId
        in: path
        description: Workspace Id
        required: true
        schema:
          type: integer
          format: int32
      - name: skip
        in: query
        description: Items to skip [0...]
        schema:
          type: integer
          format: int32
          default: 0
      - name: take
        in: query
        description: Items to take [1..200]
        schema:
          type: integer
          format: int32
          default: 20
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AutomationDtoHasMorePagingDto'
            application/json:
              schema:
                $ref: '#/components/schemas/AutomationDtoHasMorePagingDto'
            text/json:
              schema:
                $ref: '#/components/schemas/AutomationDtoHasMorePagingDto'
  /v1/workspaces/{workspaceId}/automations/{automationId}:
    get:
      tags:
      - Automations
      parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: automationId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AutomationDto'
            application/json:
              schema:
                $ref: '#/components/schemas/AutomationDto'
            text/json:
              schema:
                $ref: '#/components/schemas/AutomationDto'
  /v1/workspaces/{workspaceId}/automations/{automationId}/executions:
    get:
      tags:
      - Automations
      summary: Get finished executions
      parameters:
      - name: workspaceId
        in: path
        description: ''
        required: true
        schema:
          type: integer
          format: int32
      - name: automationId
        in: path
        description: ''
        required: true
        schema:
          type: integer
          format: int32
      - name: startDate
        in: query
        description: ''
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        description: ''
        schema:
          type: string
          format: date-time
      - name: failed
        in: query
        description: ''
        schema:
          type: boolean
      - name: skip
        in: query
        description: Items to skip [0...]
        schema:
          type: integer
          format: int32
          default: 0
      - name: take
        in: query
        description: Items to take [1..200]
        schema:
          type: integer
          format: int32
          default: 20
      - name: sortOrder
        in: query
        description: 'To sort the available list of records in either ascending or descending order. Possible values: asc
          - ascending order, desc - descending order.The default value is ''asc''.'
        schema:
          type: string
          default: asc
      - name: sortBy
        in: query
        description: 'To sort the records based on the fields: date, executionId. The default value is ''date'''
        schema:
          type: string
          default: date
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AutomationLogItemDtoHasMorePagingDto'
            application/json:
              schema:
                $ref: '#/components/schemas/AutomationLogItemDtoHasMorePagingDto'
            text/json:
              schema:
                $ref: '#/components/schemas/AutomationLogItemDtoHasMorePagingDto'
  /v1/workspaces/{workspaceId}/automations/{automationId}/executions/{executionId}:
    get:
      tags:
      - Automations
      parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: automationId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: executionId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AutomationLogItemDetailsDto'
            application/json:
              schema:
                $ref: '#/components/schemas/AutomationLogItemDetailsDto'
            text/json:
              schema:
                $ref: '#/components/schemas/AutomationLogItemDetailsDto'
  /v1/workspaces/{workspaceId}/automations/{automationId}/state:
    get:
      tags:
      - Automations
      parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: automationId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AutomationStateDto'
            application/json:
              schema:
                $ref: '#/components/schemas/AutomationStateDto'
            text/json:
              schema:
                $ref: '#/components/schemas/AutomationStateDto'
  /v1/workspaces/{workspaceId}/automations/{automationId}/active:
    get:
      tags:
      - Automations
      parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: automationId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AutomationExecutionStateDto'
            application/json:
              schema:
                $ref: '#/components/schemas/AutomationExecutionStateDto'
            text/json:
              schema:
                $ref: '#/components/schemas/AutomationExecutionStateDto'
  /v1/workspaces/{workspaceId}/automations/{automationId}/enable:
    post:
      tags:
      - Automations
      parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: automationId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
  /v1/workspaces/{workspaceId}/automations/{automationId}/disable:
    post:
      tags:
      - Automations
      parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: automationId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
components:
  schemas:
    AutomationDto:
      type: object
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
          nullable: true
        triggerType:
          enum:
          - Manual
          - Schedule
          - Connection
          - Webhook
          type: string
        created:
          type: string
          format: date-time
        modified:
          type: string
          format: date-time
      additionalProperties: false
    AutomationDtoHasMorePagingDto:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/AutomationDto'
          nullable: true
        hasMore:
          type: boolean
      additionalProperties: false
    AutomationExecutionStateDto:
      type: object
      properties:
        executionId:
          type: integer
          format: int64
        date:
          type: string
          format: date-time
        state:
          type: string
          nullable: true
        testMode:
          type: boolean
      additionalProperties: false
    AutomationLogItemDetailsDto:
      type: object
      properties:
        executionId:
          type: integer
          format: int64
        state:
          enum:
          - Executing
          - Succeeded
          - Failed
          - Canceling
          - Canceled
          - Killing
          type: string
        version:
          type: integer
          format: int32
        testMode:
          type: boolean
        comment:
          type: string
          nullable: true
        started:
          type: string
          format: date-time
        executed:
          type: string
          format: date-time
          nullable: true
        billedTasks:
          type: integer
          format: int32
          nullable: true
        error:
          type: string
          nullable: true
      additionalProperties: false
    AutomationLogItemDto:
      type: object
      properties:
        executionId:
          type: integer
          format: int64
        state:
          enum:
          - Executing
          - Succeeded
          - Failed
          - Canceling
          - Canceled
          - Killing
          type: string
        date:
          type: string
          format: date-time
        billedTasks:
          type: integer
          format: int64
        testMode:
          type: boolean
      additionalProperties: false
    AutomationLogItemDtoHasMorePagingDto:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/AutomationLogItemDto'
          nullable: true
        hasMore:
          type: boolean
      additionalProperties: false
    AutomationQueueStateDto:
      type: object
      properties:
        queuedCount:
          type: integer
          format: int32
      additionalProperties: false
    AutomationStateDto:
      type: object
      properties:
        trigger:
          $ref: '#/components/schemas/AutomationTriggerStateDto'
        queue:
          $ref: '#/components/schemas/AutomationQueueStateDto'
        executing:
          $ref: '#/components/schemas/AutomationExecutionStateDto'
        testMode:
          type: boolean
          nullable: true
      additionalProperties: false
    AutomationTriggerStateDto:
      type: object
      properties:
        enabled:
          type: boolean
      additionalProperties: false
  securitySchemes:
    Access Token:
      type: apiKey
      description: Authorization header with the Skyvia access token.
      name: Authorization
      in: header
security:
- Access Token: []
