openapi: 3.0.1
info:
  title: Skyvia Public API — Workspaces
  version: v1
  description: Workspaces that group Skyvia assets, and workspace membership.
  x-apievangelist-source: https://api.skyvia.com/swagger/v1/swagger.json
servers:
- url: https://api.skyvia.com
  description: Skyvia public API
tags:
- name: Workspaces
  description: Workspaces that group Skyvia assets, and workspace membership.
paths:
  /v1/workspaces:
    get:
      tags:
      - Workspaces
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WorkspaceDto'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WorkspaceDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WorkspaceDto'
  /v1/workspaces/{workspaceId}:
    get:
      tags:
      - Workspaces
      parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/WorkspaceDto'
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceDto'
            text/json:
              schema:
                $ref: '#/components/schemas/WorkspaceDto'
  /v1/workspaces/{workspaceId}/users:
    get:
      tags:
      - Workspaces
      summary: Get workspace users
      parameters:
      - name: workspaceId
        in: path
        description: The workspace ID
        required: true
        schema:
          type: integer
          format: int32
      - name: searchMask
        in: query
        description: Search by part of user name
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WorkspaceUserDto'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WorkspaceUserDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WorkspaceUserDto'
    post:
      tags:
      - Workspaces
      parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/AddWorkspaceUserRequestDto'
          application/json:
            schema:
              $ref: '#/components/schemas/AddWorkspaceUserRequestDto'
          text/json:
            schema:
              $ref: '#/components/schemas/AddWorkspaceUserRequestDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/AddWorkspaceUserRequestDto'
      responses:
        '200':
          description: OK
  /v1/workspaces/{workspaceId}/users/{userId}:
    delete:
      tags:
      - Workspaces
      parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: userId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
components:
  schemas:
    AddWorkspaceUserRequestDto:
      type: object
      properties:
        userId:
          type: integer
          format: int32
        roleId:
          type: integer
          format: int32
      additionalProperties: false
    WorkspaceDto:
      type: object
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
          nullable: true
        isPersonal:
          type: boolean
      additionalProperties: false
    WorkspaceUserDto:
      type: object
      properties:
        id:
          type: integer
          format: int32
        email:
          type: string
          nullable: true
        fullName:
          type: string
          nullable: true
        roleId:
          type: integer
          format: int32
        roleName:
          type: string
          nullable: true
      additionalProperties: false
  securitySchemes:
    Access Token:
      type: apiKey
      description: Authorization header with the Skyvia access token.
      name: Authorization
      in: header
security:
- Access Token: []
