openapi: 3.0.1
info:
  title: Skyvia Public API — Backups
  version: v1
  description: 'Cloud-to-cloud backups: backup definitions, snapshots, snapshot runs, and backup schedules.'
  x-apievangelist-source: https://api.skyvia.com/swagger/v1/swagger.json
servers:
- url: https://api.skyvia.com
  description: Skyvia public API
tags:
- name: Backups
  description: 'Cloud-to-cloud backups: backup definitions, snapshots, snapshot runs, and backup schedules.'
paths:
  /v1/workspaces/{workspaceId}/backups:
    get:
      tags:
      - Backups
      summary: Get backups
      parameters:
      - name: workspaceId
        in: path
        description: Workspace Id
        required: true
        schema:
          type: integer
          format: int32
      - name: skip
        in: query
        description: Items to skip [0...]
        schema:
          type: integer
          format: int32
          default: 0
      - name: take
        in: query
        description: Items to take [1..200]
        schema:
          type: integer
          format: int32
          default: 20
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BackupDtoHasMorePagingDto'
            application/json:
              schema:
                $ref: '#/components/schemas/BackupDtoHasMorePagingDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackupDtoHasMorePagingDto'
  /v1/workspaces/{workspaceId}/backups/{backupId}:
    get:
      tags:
      - Backups
      parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: backupId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BackupDto'
            application/json:
              schema:
                $ref: '#/components/schemas/BackupDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackupDto'
  /v1/workspaces/{workspaceId}/backups/{backupId}/snapshots:
    get:
      tags:
      - Backups
      summary: Get finished snapshots
      parameters:
      - name: workspaceId
        in: path
        description: ''
        required: true
        schema:
          type: integer
          format: int32
      - name: backupId
        in: path
        description: ''
        required: true
        schema:
          type: integer
          format: int32
      - name: startDate
        in: query
        description: ''
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        description: ''
        schema:
          type: string
          format: date-time
      - name: failed
        in: query
        description: ''
        schema:
          type: boolean
      - name: skip
        in: query
        description: Items to skip [0...]
        schema:
          type: integer
          format: int32
          default: 0
      - name: take
        in: query
        description: Items to take [1..200]
        schema:
          type: integer
          format: int32
          default: 20
      - name: sortOrder
        in: query
        description: 'To sort the available list of records in either ascending or descending order. Possible values: asc
          - ascending order, desc - descending order.The default value is ''asc''.'
        schema:
          type: string
          default: asc
      - name: sortBy
        in: query
        description: 'To sort the records based on the fields: startTime, snapshotId. The default value is ''startTime'''
        schema:
          type: string
          default: startTime
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BackupSnapshotLogDtoHasMorePagingDto'
            application/json:
              schema:
                $ref: '#/components/schemas/BackupSnapshotLogDtoHasMorePagingDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackupSnapshotLogDtoHasMorePagingDto'
    post:
      tags:
      - Backups
      parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: backupId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BackupActiveRunDto'
            application/json:
              schema:
                $ref: '#/components/schemas/BackupActiveRunDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackupActiveRunDto'
  /v1/workspaces/{workspaceId}/backups/{backupId}/snapshots/{snapshotId}:
    get:
      tags:
      - Backups
      parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: backupId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: snapshotId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BackupSnapshotLogDetailsDto'
            application/json:
              schema:
                $ref: '#/components/schemas/BackupSnapshotLogDetailsDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackupSnapshotLogDetailsDto'
  /v1/workspaces/{workspaceId}/backups/{backupId}/snapshots/active:
    get:
      tags:
      - Backups
      parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: backupId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BackupActiveRunDto'
            application/json:
              schema:
                $ref: '#/components/schemas/BackupActiveRunDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackupActiveRunDto'
  /v1/workspaces/{workspaceId}/backups/{backupId}/schedule:
    get:
      tags:
      - Backups
      parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: backupId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BackupScheduleDto'
            application/json:
              schema:
                $ref: '#/components/schemas/BackupScheduleDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackupScheduleDto'
  /v1/workspaces/{workspaceId}/backups/{backupId}/schedule/enable:
    post:
      tags:
      - Backups
      parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: backupId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BackupScheduleDto'
            application/json:
              schema:
                $ref: '#/components/schemas/BackupScheduleDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackupScheduleDto'
  /v1/workspaces/{workspaceId}/backups/{backupId}/schedule/disable:
    post:
      tags:
      - Backups
      parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: backupId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BackupScheduleDto'
            application/json:
              schema:
                $ref: '#/components/schemas/BackupScheduleDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackupScheduleDto'
components:
  schemas:
    BackupActiveRunDto:
      type: object
      properties:
        runId:
          type: integer
          format: int32
        date:
          type: string
          format: date-time
        duration:
          type: integer
          format: int32
        state:
          enum:
          - New
          - Queued
          - Running
          - Succeeded
          - Failed
          - Canceling
          - Canceled
          type: string
      additionalProperties: false
    BackupDto:
      type: object
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
          nullable: true
        created:
          type: string
          format: date-time
        modified:
          type: string
          format: date-time
        scheduled:
          type: boolean
      additionalProperties: false
    BackupDtoHasMorePagingDto:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/BackupDto'
          nullable: true
        hasMore:
          type: boolean
      additionalProperties: false
    BackupScheduleDto:
      type: object
      properties:
        active:
          type: boolean
      additionalProperties: false
    BackupSnapshotLogDetailsDto:
      type: object
      properties:
        snapshotId:
          type: integer
          format: int32
        queueTime:
          type: string
          format: date-time
          nullable: true
        startTime:
          type: string
          format: date-time
          nullable: true
        endTime:
          type: string
          format: date-time
          nullable: true
        state:
          enum:
          - New
          - Queued
          - Running
          - Succeeded
          - Failed
          - Canceling
          - Canceled
          type: string
        runBySchedule:
          type: boolean
        result:
          type: string
          nullable: true
      additionalProperties: false
    BackupSnapshotLogDto:
      type: object
      properties:
        snapshotId:
          type: integer
          format: int32
        queueTime:
          type: string
          format: date-time
          nullable: true
        startTime:
          type: string
          format: date-time
          nullable: true
        endTime:
          type: string
          format: date-time
          nullable: true
        state:
          enum:
          - New
          - Queued
          - Running
          - Succeeded
          - Failed
          - Canceling
          - Canceled
          type: string
        runBySchedule:
          type: boolean
      additionalProperties: false
    BackupSnapshotLogDtoHasMorePagingDto:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/BackupSnapshotLogDto'
          nullable: true
        hasMore:
          type: boolean
      additionalProperties: false
  securitySchemes:
    Access Token:
      type: apiKey
      description: Authorization header with the Skyvia access token.
      name: Authorization
      in: header
security:
- Access Token: []
